<div class="container jumbotron">
	<h2><%= @course.subject + ' ' + @course.number %> <span class="small">Section #<%= @course.section %></span></h2>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h2 class="panel-title">Textbooks</h2>
		</div>
		<div class="panel-body">
		</div>
	</div>
</div>

