/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_jquery.ui.all
 */
@import 'bootstrap';
$theBlue: #428BCA;
#header {
	#back-button {	background: inherit;	border: medium none;	color: #FFFFFF;
 									display: block;	font-size: 21px;	padding: 10px;	
									border-radius: 0;	border-right: solid 1px gray;
	}
	.navbar-brand {	margin-left: 60px;	font-weight: 800;	color: white;
		&:hover {	color: $theBlue;
		}
	}
}

#search {	margin: 0 auto;	width: 300px;
	label {	display: block;
	}
	.form-control {	display: inline-block;	width: auto;
	}
	.ui-helper-hidden-accessible {	display: none;
	}
}
.ui-menu {	background: white;	border: 1px solid #CACACA;	max-height: 200px;
						margin: 0;	overflow: scroll;	padding: 0;	list-style: none;
	.ui-menu-item {	
		&:hover {	background: #CACACA;
		}
		.ui-corner-all {	color: black;	margin: 1px 10px;
			&:hover {	text-decoration: none;	
			}
		}
	}
}

#course-books {
	#textbooks {	padding: 0;	list-style: none;
		.book {	margin-bottom: 20px;
			.description {	font-size: 120%;
				.title {	font-weight: 700;
				}
				.edition {	font-size: 90%;	color: gray;
				}
				.required {	color: red;
				}
				.recommended {	color: green;
				}
				.alternate {	color: gray;
				}
				.referenced {	color: orange;
				}
			}
			.book-media {	padding-right: 0;
				img {	width: 100%;
				}
				.locator {	border: none; border-radius: 4px;	background: darken($theBlue, 10%);		font-size: 90%;
										color: white;	font-weight: 800;	margin-top: 5px;	width: 100%;
										padding: 8px;	position: relative;
					&:hover {	background: $theBlue;
					}
				}
			}
		}
	}
}

.ui-dialog {
	.ui-dialog-titlebar {	background: #222222;	text-align: right;	color: white;	height: 40px;
		.ui-dialog-titlebar-close {	border: none;	background: inherit;	color: white;	padding: 5px;	height: inherit;
																font-size: 18px;
		}
	}
	#map-container {	background: white;
		p {	font-size: 120%;
		}
		.title, .floor {	font-weight: 800;	font-size: 140%;
		}
		.map {	position: relative;
			img {	width: 100%;
			}
			.book-pointer {	color: red;	font-size: 222%;	transition: 1s;	position: absolute;
			}
		}
	}
}
